{% extends 'base.html' %}

{% block content %}
  <div id="main">
  <!--
    {% if user.username %}
      <p>Welcome {{ user.username }} to Sekijul!!!</p>

    {% else %}

      <p>Welcome anonymous user!

      You need to <a href="/login/">login</a>

      before commenting and rating our events.</p>
      
   {% endif %}
  -->
    <div class="main-content">    
	    {% if query %}
	    <h3>Results</h3>
	    <ul>
	    {% for result in page.object_list %}
		<li><br>
		<div style="position:relative;">
		{% if result.object.poster %}
		<img src="{{result.object.poster}}" height="100px" width="80px" align="left"/>
		{% else %}
		<img src="/media/images/noimage.png" height="100px" width="80px" align="left"/>
		{% endif %}
		<div style="position:relative; left:20px; height:100px;"><span onclick="javascript:show_event({{ result.object.id }})">{{ result.object.name|safe }}</span><div style="position:relative; left:5px;"><br><p>Place: {{result.object.place|safe}}</p><br><p>Date: {{result.object.date.date|safe}}</p>
		{% if result.object.source %}
		<br><p>Source: <a href="{{result.object.source|safe}}">{{result.object.source|safe}}</a></p>
		{% endif %}
		</div></div>
		</div>
		<br>
		</li>
	    {% empty %}
	      <p>No events are available.</p>
	    {% endfor %}
	      </ul>

	    
	  {% if page.has_previous or page.has_next %}
	  <div>
	    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
	    |
	    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
	  </div>
	  {% endif %}
	  {% else %}
	  {# Show some example queries to run, maybe query syntax, something else? #}
	  {% endif %}
    </div>
    <div class="sub-content" id="event_detail" style="visibility:visible"></div>  
  </div>

{% endblock %}
