
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
<link rel="stylesheet" href="/media/sekijul.css" type="text/css" />
<script type="text/javascript" src="/media/ajax.js"></script>
<script type="text/javascript" src="/media/jquery.js"></script>

  <title>Sekijul! | {% block title %}{% endblock %}</title>
  {% block headers %}{% endblock %}  
</head>

<body>

  <div id="nav-bg">
    <div id="nav-bar"><div id="nav-bar-inside">
      <div id="nav-bar-inside-left">
        <div id="sekijul"><a href="/"><h2>sekijul</h2></a></div>
        <form id="search-form" method="get" action="/events/search/">
          <span class="pointer-cube"><i></i></span>
          <input value placeholder="Search events by name, place, time, or anything!" name="q" id="search-query" type="text">
        </form>
      </div>
      <div id="nav-bar-inside-right">
        <div id="nav-option">
          <a href="/">home</a> |
	      {% if user.is_authenticated %}
		  welcome {{ user.username }}
		  (<a href="/logout/">logout</a>)
	      {% else %}
		  <span onclick="javascript:show_dropdown('/login/')">login</span> |
		  <span onclick="javascript:show_dropdown('/register/')">register</span>
	      {% endif %}
	</div>
	<div class="dropdown" id="dropdown-id">Loading...</div>
      </div>
    </div></div>
  </div>
  
  {% block content %}{% endblock %}

</body>

</html>
