
 {% extends "base.html" %}
 {% block title %} Main {% endblock %}
 {% block head %} sekijul {% endblock %}
    
  
    {% block content %}
  <div id="main">
  <!--
    {% if user.username %}
      <p>Welcome {{ user.username }} to Sekijul!!!</p>

    {% else %}

      <p>Welcome anonymous user!

      You need to <a href="/login/">login</a>

      before commenting and rating our events.</p>
      
   {% endif %}
  -->
      <div class="main-content">    
	<h3>What's happening:</h3>
	    {% if latest_event_list %}
	      <ul>
	    {% for event in latest_event_list %}
		<li><span onclick="javascript:show_event({{ event.id }})">{{ event.name }}</span></li>
	    {% endfor %}
	      </ul>
	    {% else %}
	      <p>No events are available.</p>
	    {% endif %}    
      </div>
      <div class="sub-content" id="event_detail" style="visibility:visible"></div>
      
  </div>
  {% endblock %}

