
 {% extends "base.html" %}
 {% block title %} Main {% endblock %}
 {% block head %} sekijul {% endblock %}
    
  
    {% block content %}
  <div id="main">
    
    {% if user.username %}
      <p>Welcome {{ user.username }} to Sekijul!!!</p>

    {% else %}

      <p>Welcome anonymous user!

      You need to <a href="/login/">login</a>

      before commenting and rating our events.</p>
      
      <div class="main-content">
      </div>
      <div class="sub-content">
      </div>
      
  </div>


    {% endif %}
  {% endblock %}
