 {% extends "base.html" %}
 {% block title %} Event: {{event.name}} {% endblock %}

 {% block headers %}  <meta http-equiv="content-type" content="text/html;charset=utf-8" />{% endblock %}
 {% block head %} Sekijul! {% endblock %}

  {% block content %}

    {% if user.username %}

      <p>Logged in as: {{ user.username }}</p>

    {% else %}

      <p>Welcome anonymous user!

      You need to <a href="/login/">login</a>

      before commenting and rating our events.</p>

    {% endif %}

    <h1>{{event.name }}</h1>
      <ul>
      <li>Place: {{ event.place }}</li>
      <li>Rating: {{ event.rating }}</li>
 
      <li>Date: {{ date }}</li>
      {%if time %}
         <li>At: {{ time }}</li>
      {%endif %}
      {%if event.source %}
      <li> <a href='{{ event.source }}'>Link to site</a></li>
      {%endif%}
      <li>Published on: {{ event.date }}</li>
      {%if images %}
        {%for image in images %}

        <img src="http://localhost/media/{{image}}"/>
        
        {% endfor  %}
      {%endif%}
      </ul>

      {%if event.content != '' %}
        {{event.content}}
      {%endif%}

  {% load comments %}

  <h2>Comments:</h2>
  {% get_comment_count for event as comment_count %}
    {% if comment_count > 0  %}
      <h3>{{ comment_count }} comments have been posted.</h3>
    {% else %}
      <h3> Come on' make be the first to comment in this event. </h3>
    {% endif %}
    <br>
 
    {% get_comment_list for event as comment_list %}
    
    {% for comment in comment_list %}
      <p>Posted by: {{ comment.user_name }} on {{ comment.submit_date }}<br />
      {{ comment.comment }}</p>
    {% endfor %}
     
    
  {% if user.is_authenticated %}

    <h2>Make a Comment</h2>

    {% get_comment_form for event as form %}
    <!-- A context variable called form is created with the necessary hidden
    fields, timestamps and security hashes -->
    <table>
    <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {{ form.comment}}
    <tr>
      <td></td>
      <td><input type="submit" name="preview" class="submit-post" value="Preview"></td>
    </tr>
    </form>
    </table>
  {% endif %}



  {% endblock %}




