
  {% block subcontent %}

    <h2>{{event.name }}</h2>
      <ul>
      <li>Place: {{ event.place }}</li>
      <li>Rating: {{ event.rating }}</li>
 
      <li>Date: {{ date }}</li>
      {%if time %}
         <li>At: {{ time }}</li>
      {%endif %}
      {%if event.source %}
      <li> <a href='{{ event.source }}'>Link to site</a></li>
      {%endif%}
      <li>Published on: {{ event.date }}</li>
      {%if images %}
        {%for image in images %}

        <img src="/media/{{image}}"/>
        
        {% endfor  %}
      {%endif%}
      
      {%if event.content != '' %}
      <li>Description: {{event.content|safe}}</li>
      {%endif%}
      
      </ul>

      <br><br>

<a href="http://www.google.com/calendar/event?action=TEMPLATE&text={{event.name}}&dates={{dateCalendar}}Z&details={{event.content}}&location={{event.place}}&trp=false" target="_blank"><img src="http://www.google.com/calendar/images/ext/gc_button6_ko.gif" border=0></a>


  {% load comments %}

  <h2>Comments:</h2>
      {% if user.username %}

      <p>Logged in as: {{ user.username }}</p>

    {% else %}

      <p>Welcome anonymous user!</p>

      <p>You need to <a href="/login/">login</a>

      before commenting and rating our events.</p>

    {% endif %}

    {% get_comment_count for event as comment_count %}
    {% if comment_count > 0  %}
      <h3>{{ comment_count }} comments have been posted.</h3>
    {% else %}
      <h3> Come on' make be the first to comment in this event. </h3>
    {% endif %}
 
    {% get_comment_list for event as comment_list %}
    
    {% for comment in comment_list %}
      <p>Posted by: {{ comment.user_name }} on {{ comment.submit_date }}<br />
      {{ comment.comment }}</p>
    {% endfor %}
    <div id="new_comments"></div>
    
    <br>
         
    
  {% if user.is_authenticated %}
    <br>
    <h3>Make a Comment</h3>

   
    <!-- A context variable called form is created with the necessary hidden
    fields, timestamps and security hashes -->

    <form action="/comments/post/" id="postForm">
  
     {% get_comment_form for event as form %}
    {% csrf_token %}
    {{ form.object_pk}}
    {{ form.content_type}}
    {{ form.timestamp}}
    {{ form.security_hash}}
    {{ form.comment}}

        <input type="button" value="post" onclick="postComment()" />
    </form>

  {% endif %}

  {% endblock %}




